*{
    margin: 0px;
    padding: 0px;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: gray;
}
body{
    background: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}

#telefone{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 615px;
    width: 315px;
    margin: auto;
    background-image: url(imagens/frame-iphone.png);}
    
    #tela{
        position: relative;
        left: 22px;
        top: 80px;
        width: 267px;
        height: 470px;

    }
    section#redes{
        text-align: right;
    }
    section#redes img {
        width: 50px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
        box-sizing: border-box;
    }
    section#redes img:hover{border: 2px solid white;
        transform: translate(-3px,-3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
        transition: transform 0.3s;

    }